{{ 'starratting.css' | asset_url | stylesheet_tag }}

{% assign reviews = 14 %}
{% assign rating = 3 %}
{% assign rounded_rating = rating | round %}
{% assign color = '#000000' %}

<div id="star-rating-template" style="display: none;">
  <div class="starRatting">
    <span class="staraSpan" style="color:{{color}}; font-size: 20px">
      {% render 'stars', rating: rounded_rating %}
    </span>

    <span class="review-text-style">
      {{ reviews }}
      review
    </span>
  </div>
</div>

<script defer src="{{ 'starratting.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Product Theme",
  "target": "body"
}
{% endschema %}

{% comment %} "settings": [{ "type": "checkbox", "id": "show_review_text", "label": "Show review text", "default": true }] {% endcomment %}
{% comment %} { "type": "color", "id": "colour", "label": "Star Colour", "default": "#108474" }, {% endcomment %}
