{% assign r = rating | plus: 0 %}
<span class="jm-stars star">
  {% for i in (1..5) %}
    {% if i <= r %}
      <span class="jm-star star filled">★</span>
    {% else %}
      <span class="jm-star star empty">☆</span>
    {% endif %}
  {% endfor %}
</span>
