<<<<<<< HEAD
{%- for i in (1..rating) -%}
  ★
{%- endfor -%}
{%- assign blank_stars = 5 | minus: rating -%}
{%- for i in (1..blank_stars) -%}
  ☆
{%- endfor -%}

  
=======
{% assign r = rating | plus: 0 %}
<span class="jm-stars">
  {% for i in (1..5) %}
    {% if i <= r %}
      <span class="jm-star filled">★</span>
    {% else %}
      <span class="jm-star empty">☆</span>
    {% endif %}
  {% endfor %}
</span>
>>>>>>> aaa4ddededc8a34d80afaee978061ea9e4204e97
